<!DOCTYPE html>
<html>
<head>
  <title>Sessions</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'sessions', 'data-turbolinks-track': 'reload' %>
</head>


<body class="text-center">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
